*_old
/*.bat
/*.jar
/*.json
/*.properties
/Future add-ons/
/Luigi's Mansion/data/*
!/Luigi's Mansion/data/minecraft/
/Luigi's Mansion/data/minecraft/*.dat
!/Luigi's Mansion/data/minecraft/world_gen_settings.dat
/Luigi's Mansion/datapacks/*
!/Luigi's Mansion/datapacks/MEDACORP/
/Luigi's Mansion/dimensions/*
!/Luigi's Mansion/dimensions/luigis_mansion/
/Luigi's Mansion/dimensions/luigis_mansion/**/data/
/Luigi's Mansion/dimensions/luigis_mansion/**/entities/
/Luigi's Mansion/dimensions/luigis_mansion/**/poi/
!/Luigi's Mansion/dimensions/minecraft/
/Luigi's Mansion/dimensions/minecraft/overworld/data/
/Luigi's Mansion/dimensions/minecraft/overworld/entities/
/Luigi's Mansion/dimensions/minecraft/overworld/poi/
/Luigi's Mansion/players/
/Official add-ons/*/Dimension/*/**/data/
/Official add-ons/*/Dimension/*/**/entities/
/Official add-ons/*/Dimension/*/**/poi/
/allowed_symlinks.txt
/eula.txt
/crash-reports/
/libraries/
/logs/
/versions/
session.lock